body {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 13px;
  color: #5A5858;
  padding: 20px;
  margin: 0;
  background-color: #efefef;
  vertical-align: baseline;
}

.h1 {
  display:inline;
}

.text {
    font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 20px;
  color: #5A5858;
}



.author {
  font-size: 10px;
}

.formlabel {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom:5px;
}


.content {
  width:555px;
  background-color:#FFFFFF;
  line-height: 18px;
}

h2 {
  font-size: 20px;
  color: #3b3b3b;
  line-height: 20px;
  font-weight:bold;
  margin-bottom:5px;
}

h2 a:hover{
  text-decoration:none;
  color:#000000;
}


.footer {
  margin-left:15px;
}


.entryDetail img {
  margin-right:5px;
  background-color:#ffffff;
  line-height: 18px;

  
}

a {
  color:#2398C9;
  text-decoration:none;
  font-weight:bold;
  line-height: 18px;

}

a:hover {
  color:#5A5858;
  text-decoration:none;
  font-weight:bold;
}

.photo {
  display:block;
}

.vote {
  margin-top:10px;
}

/* cute little bolded meta data, if I end up using it */
.location {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
  
}


.entryDetail {
  border-bottom: 1px solid #DDD;
  border-top: 1px solid white;
  display: block;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right:10px;
  min-height: 300px;
  padding-top: 10px;
  margin:7px;
  float:left;
  background-color:#ffffff;
  line-height: 18px;

  
}

/*
.entryText {
  float:left;
  width:300px;
}

.entryImg {
  float:right;
  width:100px;
} */

.description {
  display:block;  
}

.count{
  font-size:10px;
}


.venuetop {
  width: 600px;
  margin-bottom: 10px;
  margin-right:5px;
  background-color:#ffffff;
  line-height: 15px;
  float:right;

}

.venuephoto {
  float: left;
  padding-right: 10px;
}

.venuename {
  font-size: 20px;
  line-height:20px;
}

.oneperson {
  float: left;
  margin: 0 10px 10px 0;
}

.oneperson img {
  padding: 1px;
  background-color: white;
}

#tweets, #leftbody {
  float: left;
  width: 740px;
  background-color:#ffffff;
  line-height: 28px;
  margin:10px;

   font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 13px;
  color: #5A5858;;
}

.tweet {
  margin-bottom: 10px;
  margin:20px;
}

.venue {
  margin-bottom: 10px;
  margin:20px;
}

.authors, .description {
  color: #999;
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-size: 13px;
  color: #5A5858;;
}

.formlabel {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}
