{% extends "base.html" %}

{% block body %}
<div style="clear:both;">
	<h1>Submit your project!</h1><br/>
</div>

<div class="content">
  <div class="entryDetail">

	<form method="POST" action="doadd">

	<div class="formlabel">TEAM NAME</div>
	<input type="text" name="name" size="80" value="{{ existing.name }}"/>

	<div class="formlabel">TEAM MEMBERS</div>
	<input type="text" name="people" size="80" value="{{ existing.people }}"/>

	<div class="formlabel">WEBSITE URL</div>
	<input type="text" name="url" size="80" value="{{ existing.url }}"/>

	<div class="formlabel">LOCATION</div>
	<select name="location">
	<option>New York</option>
	<option>San Francisco</option>
	<option>Tokyo</option>
	<option>Paris</option>
	<option>Other</option>
	</select>

	<div class="formlabel">YOUR LOCATION, IF NOT LISTED</div>
	<input type="text" name="otherLocation" size="80" value="{{ existing.email }}"/>

	<div class="formlabel">DESCRIPTION (500 characters or less)</div>
	<textarea size="80" cols=58 rows=4 name="description">{{ existing.description }}</textarea>

	<div class="formlabel">VIDEO URL</div>
	<input type="text" name="video" size="80" value="{{ existing.video }}"/>

	<div class="formlabel">IMAGE URL (Dimensions: 275 x 150)</div>
	<input type="text" name="image" size="80" value="{{ existing.image }}"/>

	<div class="formlabel">EMAIL (will not be displayed)</div>
	<input type="text" name="email" size="80" value="{{ existing.email }}"/>

	<div class="formlabel">MAILING ADDRESS AND T-SHIRT SIZES (in case you win!)</div>
	<textarea size="80" cols=58 rows=4 name="winner">{{ existing.winner }}</textarea>

	<br/><br/>
	<input type="SUBMIT"/>
	</form><br/><br/>
	<a href="/">back to front page</a>
  </div>
</div>

{% endblock %}