<!DOCTYPE html>
<html>
<head>
   <title>foursquare global hackathon 2011</title>
<link rel="stylesheet" href="static/style2.css">
</head>

<body>
	<div style="clear:both;">
		<div style="float:left;">
			<a href="http://fshackathon.appspot.com/"><img src="https://d3t9wmuxo47dud.cloudfront.net/img/developersLogo-e1bb58c83e2c32c8b116e4c43d7cc83f.png"></a><br/>
	 		<span style="font-weight: bold; font-size: 10px">GLOBAL HACKATHON 2011</span><br/>
	 	</div>

	 	<div style="float:right;">
	 		<img src="static/images/img_platformer.png" style="height:100px; width:100px;">
	 	</div>
	</div>
  {% block body %}
  {% endblock %}

<div style="clear:both;" class="footer"><br/>
  <a href="https://github.com/foursquare/hackathon/wiki/Foursquare-Global-Hackathon">Hackathon main page</a> | <a href="http://fshackathon.appspot.com/">Check out the hacks</a> | <a href="http://groups.google.com/group/foursquare-api">Online support</a> | <a href="static/allherenow.html">Fellow hackers</a><br/><br/><br/>
  
  <a href="http://developer.foursquare.com">
  <img style="margin-left:-15px;" src="http://playfoursquare.s3.amazonaws.com/press/logo/poweredby-black.png"></a></div>


</body>
</html>
