{% extends "base.html" %}

{% block body %}
<h1>Teams</h1>

<a href="add">Add a team</a>

{% for team in teams %}
  <h2>{{ team.name|escape }}</h2>
  {{ team.people|escape }}<br/>
  {{ team.location|escape }}
  <br/>
  {{ team.description|escape }}
  <br/>
  {% if team.url %}{{ team.url|urlize }}{% endif %}
  {% if team.video %}{{ team.video|urlize }}{% endif %}
  {% if team.screenshot %}{{ team.screenshot|urlize }}{% endif %}
  
  <form action="vote" method="POST">
    <input type="hidden" name="vote" value="{{ team.key }}"/>
    <input type="submit" value="Vote for this!"/>
  </form>
{% endfor %}

{% endblock %}