{% extends "base.html" %}

{% block body %}
<div style="clear:both;">
  <h1 style="margin:0px;padding:0px;">Votes in {{ city }}</h1>
</div>

<div class="content" style="padding: 10px">

{% for team in teams %}
  <h2 class="hackName">{{ team.name }}</h2>

  <span class="location">{{ team.location }}</span>
  <br/>
  <div class="authors">{{ team.people }}</div>
  <br/>
  <div class="description">{{ team.description }}</div>
  <br/>
  <b>{{ team.local_votes }}</b> local votes

  <hr style="background-color:#efefef;border:0;height:5px;width:550px;">
  
{% endfor %}

</div>

{% endblock %}